body{
    background-color: skyblue;

}
#form {
    display: none;
    float: left;
    background-color: black;
    width: 200px ;
    align-content: center;
    border-radius: 5px;
    text-align: center;

}
#sl{
    float: left;
    border-radius: 15px;
    width: 85px;
    height: 750px;
    background-color: white;
    text-align: center;

}
.Image{
    border-radius:200px;
}
body{
align-items: center;
}
button{
    cursor: pointer;
    height: 50px;
    width: 75px ;
    border-radius: 10px;
    background-color:black;
    border: 2px;
    color: White;
    transition-duration: 0.01

}
button:hover{
  border-radius: 20px;
  background-color:skyblue;
  box-shadow: 10px 10px 10px lightblue;
  border: 2px;
  transition-duration: 0.5s;
  color: Black;
}
button:not(:hover){
    transition-duration: 0.5s;
}
input{
    border-radius: 5px;
    border: 1px;
    border-color: white;
    background-color: black;
    color: white;

}
