body{
    background-color: skyblue;

}
#form {
    float: left;
    background-color: black;
    width: 200px ;
    align-content: center;
    border-radius: 5px;
    text-align: center;

}
#sl{
    float: left;
    border-radius: 15px;
    width: 85px;
    height: 750px;
    background-color: white;
    text-align: center;

}
.Image{
    border-radius:200px;
}
body{
align-items: center;
}
button{
  border-radius: 2px;
  background-color:black;
  border: 2px;
  color: White;


}
button:hover{
  border-radius: 20px;
  background-color:skyblue;
  box-shadow: 10px 10px 10px lightblue;
  border: 2px;
  transition-duration: 1s;
  color: Black;
}
button:not(:hover){
    transition-duration: 1.5s;
}
