body{
    background-color: aquamarine;
    
}
#form {
    background-color: black;
    width: 200px ;
    align-content: center;
    border-radius: 5px;
    text-align: center;
}
#sl{
    width: 100px;
    height: 200px;
    background-color: white;
    text-align: center;
}
img{
    border-radius:200px;
}
body{
 padding-left: 10px;
}
a{
    
}
