<mat-grid-list cols="6" rowHeight="250px">
   <mat-grid-tile>
     <div>
       <mat-card id="Available">
         <div id="title">
           <mat-card-title><p>Available</p></mat-card-title>       
         </div>
         <mat-divider></mat-divider>
         <br>
         <p>Name:HTML 5</p>
         <mat-divider><br></mat-divider>
         <br>
         <p>Author:Johnathan</p>
         <mat-divider><br></mat-divider>
         <br>
         <button mat-flat-button color="primary">Borrow</button>
       </mat-card>
     </div>
     </mat-grid-tile>
         <mat-grid-tile>
           <div>
             <mat-card id="Unavailable">
               <div id="title">  
                 <mat-card-title><p>Unavailable</p></mat-card-title>            
               </div>
               <mat-divider></mat-divider>
              <br>
               <p>Name: Ninja's from outer space</p>
               <mat-divider><br></mat-divider>
               <br>  
               <p>Author: Ayden</p>
               <mat-divider><br></mat-divider>
               <br> 
               <button mat-flat-button color="primary" disabled>Borrow</button>
           </mat-card>
           </div>
         </mat-grid-tile>
         <mat-grid-tile> </mat-grid-tile>
         </mat-grid-list>