<mat-grid-list cols="6" rowHeight="250px">
   <mat-grid-tile>
     <div>
       <mat-card id="Available">
         <div id="title">
           <mat-card-title><p>Available</p></mat-card-title>       
         </div>
         <mat-divider></mat-divider>
         <br>
         <p>Name: HTML 5</p>
         <mat-divider><br></mat-divider>
         <br>
         <p>Author: Johnathan </p>
         <mat-divider><br></mat-divider>
         <br>
         <button mat-flat-button color="primary">view</button>
       </mat-card>
     </div>